$regular: 'Montserrat-Regular';
$medium: 'Montserrat-Medium';
$bold: 'Montserrat-Bold';
$semi-bold: 'Montserrat-SemiBold';
$italic: 'Montserrat-Italic';

@font-face {
  font-family: $regular;
  src: url('fonts/Montserrat/Montserrat-Regular.ttf');
}
@font-face {
  font-family: $italic;
  src: url('fonts/Montserrat/Montserrat-Italic.ttf');
}
@font-face {
  font-family: $medium;
  src: url('font/Montserrat/Montserrat-Medium.ttf');
}
@font-face {
  font-family: $bold;
  src: url('fonts/Montserrat/Montserrat-Bold.ttf');
}
@font-face {
  font-family: $semi-bold;
  src: url('fonts/Montserrat/Montserrat-SemiBold.ttf');
} ;
