* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
%transition {
  transition: all 0.3s ease;
}
body {
  font-family: $regular;
}
.navbar-menu {
  background: rgba(0, 0, 0, 0);
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px groove rgba(255, 255, 255, 0);
  @extend %transition;
  z-index: 100;
  height: 75px;
  min-height: 50px;
  margin-bottom: 20px;
}
.logo {
  height: 53px;
  overflow: hidden;
  z-index: 10;
  a {
    padding: 0 15px 0 25px;
    display: block;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
    }
  }
}

.header-flex {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  height: 80px;
  transition: 0.3s all ease;
}
.scrolled {
  background-color: #111111;
}
.nav-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  z-index: 10;
  li {
    display: inline-block;
    margin: 0 15px 0 15px;
    z-index: 10;
    @extend %transition;
    &:hover > ul {
      visibility: visible;
      animation-name: animfadeInUpmenu;
      animation-duration: 0.3s;
      animation-fill-mode: both;
      opacity: 1;
      pointer-events: all;
    }
    .nav-link {
      display: inline-block;
      padding: 10px 20px 10px 10px;
      color: #fff;
      font-size: 13px;
      font-family: $regular;
      text-transform: uppercase;
      letter-spacing: 1px;
      line-height: 60px;
      z-index: 10;
      @extend %transition;
      &:hover {
        color: $gray;
      }
    }
  }
}
.nav-hidden {
  position: absolute;
  top: 75px;
  display: flex;
  flex-direction: column;
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  li {
    width: 230px;
    background: #111111;
    margin: 0;
    margin-left: -5px;
    border-bottom: 1px groove rgba(255, 255, 255, 0.1);
    padding: 10px 0;
    cursor: pointer;
    a {
      font-size: 8pt;
      line-height: 20px;
      padding-left: 17px;
      color: $bg-gray;
      font-family: $semi-bold;
      text-transform: uppercase;
      letter-spacing: 1px;
      @extend %transition;
    }
    &:hover > a {
      color: $gray;
    }
  }
}

.actived {
  color: $gray !important;
}

.bg-pic {
  background-image: url(../img/bg.jpg);
}
.bg-pic-about {
  background-image: url(../img/bg2.jpg);
}
.bg-pic-projects {
  background-image: url(../img/bg3.jpg);
}

.bg-pic,
.bg-pic-about,
.bg-pic-projects {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  overflow-x: hidden;
  position: fixed;
}

.overlay-page {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: url(../img/pattern.png);
}

.overlay-text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white;
  font-family: $regular;
}
.dream {
  font-size: 72px;
  letter-spacing: 2px;
  line-height: normal;
}

.main-text {
  font-size: 34pt;
  letter-spacing: 1px;
  margin: 5px 0;
}
.home-text {
  font-size: 10pt;
  letter-spacing: 1px;
  margin: 0 auto;
  margin-top: 10px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  font-weight: 400;
  background: #05080a;
  color: #efefef;
  z-index: 999;
}
.social-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
  a {
    display: inline-block;
    font-size: 10px;
    letter-spacing: 0.2em;
    margin: 0 15px;
    padding: 5px 0;
    cursor: pointer;
    color: #efefef;
    font-family: $regular;
    line-height: 23px;
    @extend %transition;
    position: relative;
    &:hover {
      color: $white;
    }
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: $white;
      left: 0;
      bottom: 4px;
      transform: scale(0, 1);
      transform-origin: 0% 100%;
      @extend %transition;
    }
    &:hover::after {
      transform: scale(1, 1);
    }
  }
}

.footer-text {
  font-family: $regular;
  display: inline-block;
  font-size: 10px;
  padding: 5px 5px 5px 5px;
  letter-spacing: 1px;
  line-height: 23px;
}
.space-double {
  height: 80px;
}
.space-single {
  height: 40px;
}
.about {
  // z-index: 2;
  color: $white;
  padding: 40px 60px;
}

.section-title {
  font-family: $regular;
  font-size: 48pt;
}

.divider {
  display: block;
  border-top: 4px solid #fff;
  width: 240px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.article-text {
  font-size: 13px;
  letter-spacing: 0.7px;
  line-height: 23px;
  margin: 0;
  em {
    display: block;
  }
}

.about-sections {
  padding: 0 60px 40px;
}
.team-wrapper {
  max-width: 350px;
  margin: 20px 0;
  box-shadow: rgba(23, 36, 52, 0.1) 5px 5px 2px 0px;
  overflow-x: hidden;
  img {
    width: 100%;
    height: 323px;
    object-fit: cover;
  }
  .team-info {
    padding: 20px 30px 20px 30px;
    color: $light-gray;
    background: $bg-gray;
    h3 {
      font-size: 24px;
      font-family: $regular;
      color: $light-gray;
    }
    p {
      font-weight: 300;
      font-size: 10pt;
      margin-bottom: 10px;
      color: $light-gray;
    }
    .devider-team {
      display: block;
      border-top: 3px solid $light-gray;
      width: 30%;
      margin-top: 10px;
      margin-bottom: 10px;
      text-align: left;
    }
    .about-team {
      font-size: 13px;
      line-height: 23px;
      color: $light-gray;
    }
    .team-social {
      display: flex;
      align-items: center;
      li {
        margin: 20px 15px 10px 0;
        display: inline-flex;
        a {
          padding: 8px;
          width: 28px;
          height: 28px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: $light-gray;
          @extend %transition;
          &:hover {
            background-color: $orange;
            color: $white;
          }
          i {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
}
.inovative {
  padding: 60px 5px;
  color: $white;
  .desktop-icon i {
    font-size: 64px;
    margin-bottom: 10px;
  }
  h4 {
    font-size: 34pt;
    font-family: $regular;
    letter-spacing: 0.5px;
  }
  p {
    max-width: 320px;
    margin: 0 auto;
    font-style: italic;
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0.7px;
  }
}

.breadcrumb {
  background-color: transparent;
  padding: 60px 8px 30px 0;
  margin-bottom: 0;

  a {
    color: $white;
    font-size: 14px;
    @extend %transition;
  }
}
.breadcrumb-item + .breadcrumb-item::before {
  content: '.';
  color: $white;
  margin-left: 10px;
  margin-right: 10px;
}

.breadcrumb-item:not(:last-child):hover a {
  color: $orange;
}
.all-work {
  color: $white;
  font-size: 14px;
  text-align: right;
  display: block;
  padding: 60px 0 30px;
  @extend %transition;
  &:hover {
    color: $orange;
  }
}
.project-img {
  overflow: hidden;
  a {
    width: 100%;
    height: 450px;
    @extend %transition;
    position: relative;
    display: block;
    text-align: center;
    &:hover img {
      transform: scale(1.1);
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 1s ease-in-out;
    }
    &:hover .overlay {
      opacity: 1;
      height: 100%;
      top: 0;
    }
  }
  .overlay {
    width: 100%;
    height: 120%;
    position: absolute;
    opacity: 0;
    top: -30px;
    left: 0;
    transition: all 0.5s ease-in-out;
    h3 {
      text-transform: uppercase;
      font-size: 9pt;
      letter-spacing: 4px;
      color: #333;
      padding-top: 33%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.8);
    }
  }
}

.col-gap {
  row-gap: 16px;
  column-gap: 16px;
  .col-md-6 {
    flex: 0 0 calc(50% - 8px);
  }
}

.services-img {
  max-width: 1100px;
  width: 100%;
  height: 380px;
  overflow: hidden;
  margin-bottom: 30px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.main-service {
  h2 {
    text-transform: uppercase;
    font-size: 16pt;
    font-family: $bold;
    margin-bottom: 15px;
    .orange {
      color: $orange;
      font-family: $bold;
    }
  }
  p {
    font-size: 13px;
    letter-spacing: 0.7px;
    line-height: 23px;
    em {
      margin-bottom: 15px;
      display: inline-block;
    }
  }
}
.service-text {
  font-size: 15px;
  font-style: italic;
  line-height: 1.6em;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  padding: 30px;
  margin: 30px 0;
  border-left: 5px solid $orange;
}
.text {
  font-size: 13px;
  letter-spacing: 0.7px;
  line-height: 23px;
}
.services-list {
  margin-bottom: 40px;
  li {
    background: rgba(0, 0, 0, 0.3);
    cursor: pointer;
    border-bottom: 1px solid #444;
    @extend %transition;
    &:hover {
      background-color: rgba(0, 0, 0, 0.8);
    }
    a {
      display: inline-block;
      color: $bg-gray;
      padding: 15px 20px 15px 20px;
      font-size: 13px;
      line-height: 23px;
    }
  }
  .active {
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
  }
}

.widget {
  position: relative;
  margin-bottom: 40px;
  height: 200px;
  background: url(../img/bg-widget.jpg);
  padding: 60px 15px 60px 15px;
  text-align: center;
  .download-brochure {
    text-align: center;
    h4 {
      font-size: 12pt !important;
      text-transform: uppercase;
      color: #fff;
      margin-bottom: 15px;
      font-family: $bold;
    }
    .download-link {
      height: 35px;
      width: 188px;
      font-size: 9pt;
      line-height: 34px;
      letter-spacing: 1px;
      display: block;
      background: $orange;
      color: $white;
      text-transform: uppercase;
      margin: 0 auto;
      @extend %transition;
      &:hover {
        color: #333;
        background: $white;
      }
    }
  }
}
.mtb-60 {
  margin: 60px 0;
}
.project-carousel {
  display: flex;
  .real {
    width: 100%;
    img {
      width: 87px;
      height: 87px;
      object-fit: cover;
      margin: 0 auto;
    }
  }
  :is(.owl-nav, .owl-dots).disabled {
    display: none;
  }
}

.blog-heading {
  display: block;
  margin-top: -10px;
  font-family: $semi-bold;
  font-size: 20px;
  color: $white;
  margin-bottom: 20px;
}
.bottom-article {
  overflow: hidden;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding: 10px 0 10px 0;
  margin-top: 10px;
  margin-bottom: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .date {
    font-size: 12px;
  }
}
.read-more {
  padding: 10px 20px 10px 20px;
  border: 1px solid rgba(255, 255, 255, 0.9);
  font-size: 14px;
  line-height: 1.4;
  border-radius: 4px;
  color: $white;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
    background-color: $orange;
    border: 1px solid rgba(255, 255, 255, 0);
  }
}
.page-num {
  margin-right: 15px;
  font-size: 13px;
}
.pagination-sm .page-link {
  padding: 5px 10px;
  color: $white;
  border: transparent;
  background-color: transparent;
}
.page-item.active .page-link {
  background: $orange;
  font-family: $semi-bold;
  border-color: transparent;
}
.pagination {
  align-items: center;
}
.pagination-sm .page-item .page-link {
  border-radius: 0 !important;
  font-size: 13px;
  line-height: 16px;
}
.pagination-sm .page-item {
  @extend %transition;
  margin-right: 4px;
  &:hover {
    background-color: $orange;
  }
}
.page-btn a {
  font-size: 13px;
  line-height: 16px;
  color: $white;
  padding: 5px 10px;
  @extend %transition;
  text-decoration: none;
  &:hover {
    background: $orange;
  }
}

.blog-left {
  margin-bottom: 40px;
  h5 {
    font-family: $bold;
    font-size: 14pt;
    &::after {
      border-bottom: 2px solid $white;
      content: '';
      display: block;
      width: 60px;
      margin-bottom: 30px;
      margin-top: 40px;
    }
  }
}

.recent-news {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  max-width: 390px;
  img {
    width: 75px;
    height: 65px;
    object-fit: cover;
    padding-right: 10px;
  }
}
.recent-news-text {
  a {
    font-size: 14px;
    color: $white;
    font-family: $semi-bold;
  }
  p {
    font-size: 13px;
    letter-spacing: 0.7px;
    line-height: 23px;
  }
}

.tag-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  li {
    margin: 5px 6px 15px 0;
    a {
      border: 1px solid rgba(255, 255, 255, 0.5);
      padding: 5px 10px;
      text-align: center;
      font-size: 13px;
      color: $white;
      @extend %transition;
      &:hover {
        border: 1px solid rgba(255, 255, 255, 1);
      }
    }
  }
}
.last-text {
  font-size: 13px;
  letter-spacing: 0.7px;
  line-height: 23px;
}
#map {
  height: 400px;
  padding-top: 0px;
  padding-bottom: 0px;
  box-shadow: rgba(0, 0, 0, 0.1) 5px 5px 2px;
}
.contact-info {
  color: $light-gray;
  background: $white;
  height: 400px;
  padding: 25px 20px 25px 40px;
  line-height: 26pt;
  box-shadow: rgba(0, 0, 0, 0.1) 5px 5px 2px;
  font-size: 13px;
  .contact-title {
    text-transform: uppercase;
    font-family: $semi-bold;
  }
  .personal-info {
    line-height: 20px;
  }
}
.tel-num {
  color: $light-gray;
  @extend %transition;
  &:hover {
    color: $orange;
  }
}

.contact {
  margin-top: 60px;
  input,
  textarea {
    width: 100%;
    height: 50px;
    margin: 5px 0px;
    border: 0px;
    font-size: 9pt;
    color: $white;
    background: rgba(0, 0, 0, 0);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding: 10px;
    transition: all 0.2s ease;
    &::placeholder {
      color: $white;
    }
    &:focus {
      border-bottom: 1px solid rgba(255, 255, 255, 0.8);
    }
    &:focus-visible {
      border: 1px solid rgba(255, 255, 255, 0.8);
    }
  }
  textarea {
    height: 100px;
  }
}
.form-control:focus {
  background: transparent;
  box-shadow: none;
  color: $white;
}
.sent-now {
  display: block;
  width: 180px;
  font-size: 10pt;
  line-height: 38px;
  color: $white;
  text-transform: uppercase;
  letter-spacing: 3px;
  border: 1px solid rgba(255, 255, 255, 0);
  background: $orange;
  padding: 5px 18px;
  border-radius: 5px;
  outline: none;
  margin-top: 15px;
  box-shadow: rgba(0, 0, 0, 0.3) 3px 8px 12px;
  cursor: pointer;
  transition: all 0.1s ease;
  &:hover {
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px;
  }
  &:focus {
    outline: none;
  }
}
.success-date {
  h4 {
    font-size: 28pt;
  }
  span {
    font-size: 13px;
    line-height: 23px;
    font-style: italic;
  }
}
.success {
  margin-bottom: 5px;
  padding-bottom: 60px;
  margin-left: -18px;
  &:before {
    content: '';
    position: absolute;
    display: block;
    width: 1px;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    top: 8px;
    margin-left: 5px;
  }
}
.success-text {
  margin-left: 30px;
  h4 {
    font-size: 14pt;
    line-height: 24px;
    margin-bottom: 10px;
  }
  p {
    line-height: 23px;
    font-size: 13px;
    font-style: italic;
    letter-spacing: 0.7px;
  }
}

.circle {
  background: $orange;
  width: 12px;
  height: 12px;
  border-radius: 20px;
  float: left;
}
.success-last {
  margin-bottom: 5px;
  margin-left: -18px;
}

.nav-bottom {
  width: 100%;
  height: 30px;
  margin-bottom: 50px;
  text-align: center;
  position: fixed;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, 100%);
  z-index: 999;
  transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}
#open {
  color: $bg-gray;
  width: 35px;
  height: 80px;
  background: #05080a;
  border-radius: 50px;
  cursor: pointer;
  margin: 4px auto 0;
  display: block;
  i {
    font-size: 16px;
    font-weight: lighter;
    transition: all 750ms ease-in-out;
  }
}
.lift {
  transform: translateY(3px);
}

.open-menu {
  display: none;
  position: fixed;
  width: 100%;
  height: 300px;
  background: rgba(0, 0, 0, 0.95);
  bottom: 0;
  left: 0;
  z-index: 999;
}

.close-button {
  cursor: pointer;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 10px;
}
.owl-gal,
.site-slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0 8px;
  .owl-nav {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    top: 40%;
  }
}
:is(.owl-gal, #sync1) .item {
  overflow: hidden;
  cursor: pointer;
}

:is(.owl-gal, #sync1) .owl-nav button.owl-next,
:is(.owl-gal, #sync1) .owl-nav button.owl-prev {
  padding: 10px 17px !important;
  background: rgba(0, 0, 0, 1);
}

:is(.owl-gal, #sync1) .owl-nav button.owl-prev {
  margin-left: -8px;
}
.owl-theme .owl-nav [class*='owl-']:hover,
.owl-theme .owl-nav [class*='owl-']:focus {
  background: rgba(0, 0, 0, 1);
  outline: none;
}
.item img {
  transition: all 1s ease-in-out;
}
.item .overlay {
  width: 90%;
  height: 90%;
  position: absolute;
  color: #fff;
  background-color: rgba(0, 27, 42, 0.4);
  margin: 5%;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  text-align: center;

  h3 {
    font-size: 11pt !important;
    letter-spacing: 1px;
    padding: 25% 0 0 0;
    text-transform: uppercase;
  }
  .devider {
    display: block;
    margin: 10px auto;
    width: 188px;
    border-top: 1px solid #fff;
    transition: all 0.3s ease-in-out;
  }
}
.item:hover {
  overflow: hidden;
  img {
    transform: scale(1.1);
    transition: all 1s ease-in-out;
  }
  .overlay {
    bottom: -3%;
    opacity: 1;
  }
  .devider {
    display: block;
    margin: 10px auto;
    width: 138px;
    border-top: 1px solid #fff;
    transition: all 0.3s ease-in-out;
  }
}

// project-details
#sync1 {
  .item {
    height: 450px;
    width: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      &:hover {
        transform: scale(1);
      }
    }
  }
}

#sync2 {
  .owl-carousel .owl-stage {
    display: flex;
    justify-content: space-between;
  }
  .item {
    height: 80px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 30px;
    img {
      height: 100%;
      object-fit: cover;
      &:hover {
        transform: scale(1);
      }
    }
  }
  .current .item {
    opacity: 0.5;
  }
}

//arrows on first carousel
#sync1.owl-theme {
  position: relative;
  .owl-next,
  .owl-prev {
    width: 40px;
    height: 40px;
    margin-top: -20px;
    position: absolute;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .owl-prev {
    left: 10px;
  }
  .owl-next {
    right: 0px;
  }
}
#sync2.owl-carousel .owl-nav.disabled {
  display: none;
}
#sync2 .owl-item:not(:last-child) {
  padding-right: 16px;
}
.construction {
  p {
    font-size: 13px;
    letter-spacing: 0.7px;
    line-height: 23px;
    margin-bottom: 20px;
  }
}

.project-title {
  font-size: 16pt;
  font-family: $semi-bold;
  margin-bottom: 15px;
}
.details li {
  font-size: 13px;
  letter-spacing: 0.01em;
  line-height: 20pt;
  strong {
    font-family: $semi-bold;
  }
}
.project-btn {
  padding: 10px 0 10px 0;
  margin: 10px 0 10px 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  @extend %transition;
  &:hover {
    background-color: #999;
  }
  a {
    text-transform: uppercase;
    color: $white;
    font-size: 13px;
    letter-spacing: 1px;
    @extend %transition;
  }
}

.opacFull {
  opacity: 1 !important;
}

.site-slider {
  position: relative;
}
.slider-img {
  width: 100%;
  height: 100vh;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.slider-text {
  position: absolute;
  top: 50%;
  left: 100px;
  line-height: normal;
  color: #fff;
  transform: translateY(-50%);
}
.slider-text h1 {
  font-size: 53px;
  color: #fff;
  opacity: 0;
}
.slider-text h3 {
  font-size: 40px;
  opacity: 0;
  visibility: visible;
}

.animate-in-fast {
  animation: in-fast 1000ms ease-in-out forwards;
}

@keyframes in-fast {
  0% {
    opacity: 0;
    transform: translateX(-3em);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.animate-in-slow {
  animation: in-slow 1000ms linear forwards;
}

@keyframes in-slow {
  0% {
    opacity: 0;
    transform: translateX(3em);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.more-detail {
  display: block;
  width: 198px;
  height: 40px;
  font-size: 11pt;
  text-align: center;
  letter-spacing: 1px;
  line-height: 36px;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.6);
  background: rgba(23, 36, 52, 0);
  outline: none;
  text-shadow: none;
  margin: 0 auto;
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
    color: #111111;
    background: #fff;
    border: 1px solid rgba(255, 255, 255, 0);
    transition: all 0.3s ease;
  }
}
.animation-btn {
  font-size: 14px;
  border-width: 1px;
  line-height: 36px;
  opacity: 0;
  margin-top: 48px;
}
.site-slider {
  padding: 0;
}
.site-slider.owl-carousel .owl-nav button.owl-prev,
.site-slider.owl-carousel .owl-nav button.owl-next {
  color: $white;
  margin: 0;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  i {
    font-size: 24px;
  }
  &:hover {
    background: none;
  }
}
.site-slider.owl-carousel .owl-nav button.owl-prev {
  margin-left: 15px;
}
.site-slider.owl-carousel .owl-nav button.owl-next {
  margin-right: 15px;
}
// Hamburger Menu

#navMenu {
  cursor: pointer;
  display: none;
  margin-right: 24px;
  transition: 0.3s;
}
#navMenu > span {
  display: block;
  width: 26px;
  height: 2px;
  background-color: $white;
}
#navMenu > span:not(:last-child) {
  margin-bottom: 6px;
}

#navMenu,
#navMenu > span {
  transition: all 0.4s ease-in-out;
}
#navMenu.active {
  transition-delay: 0.8s;
  transform: rotate(45deg);
}
#navMenu.active > span:nth-child(2) {
  width: 0;
}
#navMenu.active > span:nth-child(1),
#navMenu.active > span:nth-child(3) {
  transition-delay: 0.4s;
}
#navMenu.active > span:nth-child(1) {
  transform: translateY(7px);
}

#navMenu.active > span:nth-child(3) {
  transform: translateY(-9px) rotate(90deg);
}
