@media screen and (min-width: 1200px) {
  .item img {
    height: 240px;
  }
}
@media screen and (max-width: 1200px) {
  .nav-list li .nav-link {
    padding-right: 10px;
  }
  .dream {
    font-size: 64px;
  }
  .main-text {
    font-size: 36px;
  }
  .open-menu {
    height: 250px;
  }
  .item img {
    height: 200px;
  }
  .inovative {
    padding: 15px 5px;
  }
  .about-sections {
    padding-bottom: 24px;
  }
  .services-list li a {
    padding-left: 10px;
  }
  .contact-info {
    padding-left: 20px;
  }
  .owl-gal .owl-nav {
    top: 28%;
  }
}
@media only screen and (max-width: 1024px) {
  .about,
  .about-sections {
    padding: 10px;
  }
  .breadcrumb {
    padding: 30px 0;
  }
}
@media screen and (max-width: 992px) {
  .nav-list {
    display: none;
  }
  #navMenu {
    display: block;
  }
  .header-flex {
    height: 64px;
  }
  .logo {
    height: 42px;
  }
  .close-button {
    margin-bottom: 5px;
  }
  .dream {
    font-size: 48px;
  }
  .main-text {
    font-size: 24px;
  }
  .space-single {
    display: none;
  }
  .col-lg-9 .space-double {
    height: 40px;
  }
  .project-img a {
    height: 30vw;
  }
  #sync1 .item {
    height: 40vw;
  }
  .col-lg-4 .blog-left:first-child {
    margin-top: 24px;
  }
  .blog-left {
    margin-bottom: 30px;
    h5::after {
      margin-top: 24px;
    }
  }
  .contact-info,
  #map {
    height: 400px;
  }
  .slider-text {
    h1 {
      font-size: 42px;
    }
    h3 {
      font-size: 36px;
    }
  }
  .owl-gal .owl-nav button.owl-prev {
    padding: 8px 14px !important;
  }
}
@media screen and (max-width: 768px) {
  .logo {
    height: 36px;
  }
  .dream {
    font-size: 36px;
  }
  .open-menu {
    height: 200px;
  }
  .item img {
    height: 150px;
  }
  #navMenu > span {
    width: 22px;
  }
  .site-slider.owl-carousel .owl-nav button.owl-prev {
    margin-left: 0px;
  }
  .site-slider.owl-carousel .owl-nav button.owl-prev i,
  .site-slider.owl-carousel .owl-nav button.owl-next i {
    font-size: 18px;
  }
  .construction-title {
    font-size: 36px;
  }
  .section-title {
    font-size: 48px;
  }
  .divider {
    margin-top: 10px;
    width: 180px;
  }
  .center {
    justify-content: center !important;
  }
  .team-wrapper {
    margin: 20px auto;
    img {
      object-position: top;
    }
  }
  .widget {
    margin-bottom: 0;
  }
  .circle {
    display: none;
  }
  .success {
    margin: 0;
    padding-bottom: 36px;
    &::before {
      display: none;
    }
  }
  .success-text {
    margin: 0;
  }
  .success-last {
    margin: 0;
    padding-bottom: 36px;
  }
  .all-work {
    display: none;
  }
  .project-img .overlay h3 {
    padding-top: 24%;
  }
  #sync1 .item,
  .services-img,
  .project-img a {
    height: 45vw;
  }
  .contact-info,
  #map {
    height: 350px;
    line-height: 30px;
  }
  .sent-now {
    width: 150px;
    line-height: 30px;
  }
  .slider-text {
    h1 {
      font-size: 32px;
    }
    h3 {
      font-size: 28px;
    }
    .animation-btn {
      margin-top: 28px;
    }
    .more-detail {
      width: 160px;
      height: 40px;
    }
  }
  :is(.owl-gal, #sync1) .owl-nav button.owl-next,
  :is(.owl-gal, #sync1) .owl-nav button.owl-prev {
    padding: 6px 12px !important;
  }
}
@media screen and (max-width: 576px) {
  #open {
    height: 34px;
    width: 34px;
    margin-top: -2px;
    i {
      font-size: 13px;
    }
  }
  .social-list a {
    padding: 14px 8px 10px;
  }
  .footer-menu .footer-equal-parts:not(:last-child) {
    display: none;
  }
  .footer-equal-parts {
    margin: 0 auto;
  }
  .nav-bottom {
    margin-bottom: 60px;
  }
  .sections-center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .team-wrapper img {
    height: 280px;
  }
  .section-title {
    font-size: 40px;
  }
  .divider {
    width: 160px;
  }
  // .space-edit {
  //   height: 40px;
  // }
  .inovative .desktop-icon i {
    font-size: 56px;
  }
  .breadcrumb a {
    font-size: 13px;
  }
  #sync1.owl-theme .owl-next,
  #sync1.owl-theme .owl-prev {
    width: 35px;
    height: 35px;
  }
  .blog-left {
    margin-bottom: 24px;
  }
  .contact-info,
  #map {
    height: 300px;
  }
  .contact-info {
    padding: 16px;
    line-height: 28px;
  }
  .address .mb-3 {
    margin-bottom: 8px !important;
  }
  .sent-now {
    letter-spacing: 1px;
    width: 130px;
    padding: 5px;
  }
  .slider-text {
    h1 {
      font-size: 26px;
    }
    h3 {
      font-size: 20px;
    }
    .more-detail {
      width: 130px;
      height: 38px;
      letter-spacing: 0;
    }
    .animation-btn {
      margin-top: 16px;
    }
  }
  .site-slider .owl-nav {
    top: 44%;
  }
  .site-slider.owl-theme .owl-nav {
    margin-top: 0;
  }
  .site-slider.owl-carousel .owl-nav button {
    &.owl-next,
    &.owl-prev {
      margin-right: 0;
      width: 40px;
      height: 40px;
      i {
        font-size: 16px;
      }
    }
  }
  .open-menu {
    height: 150px;
  }
  .item img {
    height: 110px;
  }
  .close-button {
    margin-bottom: 2px;
  }
}
@media screen and (max-width: 480px) {
  .logo {
    height: 30px;
  }
  .dream {
    font-size: 28px;
    letter-spacing: 1px;
  }
  .main-text {
    font-size: 20px;
    margin-bottom: 16px;
  }
  #navMenu {
    margin-right: 15px;
  }
  .logo a {
    padding-left: 15px;
  }
  .section-title {
    font-size: 36px;
  }
  .divider {
    width: 140px;
  }
  .inovative {
    padding-top: 10px;
    h4 {
      font-size: 32px;
      margin-bottom: 8px;
    }
  }
  .project-carousel .real img {
    width: 70px;
    height: 70px;
  }
  .project-img .overlay h3 {
    letter-spacing: 2px;
  }
  .project-img a,
  .services-img {
    height: 50vw;
  }
  .breadcrumb {
    padding: 20px 0;
  }
  .breadcrumb a {
    font-size: 12px;
  }
  .breadcrumb-item + .breadcrumb-item {
    padding: 0;
    &::before {
      margin: 0 4px;
      padding: 0;
    }
  }
  .project-img .overlay h3 {
    padding-top: 30%;
  }

  :is(.owl-gal, #sync1) .owl-nav button.owl-next,
  :is(.owl-gal, #sync1) .owl-nav button.owl-prev {
    padding: 4px !important;
    width: 30px;
    height: 30px;
  }
  .blog-left {
    margin-bottom: 16px;
    h5 {
      margin-bottom: 16px;
      &::after {
        display: none;
      }
    }
  }
  .page-btn {
    display: none;
  }
  .read-more {
    padding: 10px;
    font-size: 13px;
  }
  .slider-text {
    h1 {
      font-size: 24px;
    }
    h3 {
      font-size: 18px;
    }
  }
  .owl-gal .owl-nav button.owl-next {
    margin-right: 20px;
  }
  .owl-gal .owl-nav button.owl-prev {
    margin-left: 4px !important;
  }
  .owl-gal .owl-nav {
    top: 22%;
  }
  .sidebar .nav-links li {
    max-width: 180px;
    a .link_name {
      font-size: 16px;
    }
  }
  .sidebar .nav-links li i {
    font-size: 16px;
  }
  #navMenu > span {
    width: 20px;
  }
}
@media screen and (max-width: 320px) and (min-width: 280px) {
  #navMenu > span {
    width: 22px;
  }
  .dream {
    font-size: 22px;
    letter-spacing: 0.5px;
  }
  .nav-bottom,
  .open-menu {
    display: none;
  }
  .main-text {
    font-size: 16px;
  }
  .home-text {
    font-size: 12px;
  }
  .team-wrapper {
    .team-info {
      padding: 16px;
    }
    img {
      height: 200px;
    }
  }
  .section-title {
    font-size: 28px;
  }
  .divider {
    width: 100px;
  }
  .inovative h4 {
    font-size: 26px;
  }
  .inovative .desktop-icon i {
    font-size: 48px;
  }
  .project-img .overlay h3 {
    letter-spacing: 1px;
  }
  .project-img a,
  .services-img {
    height: 60vw;
  }
  .breadcrumb {
    display: none;
  }
  .row-gap {
    margin-top: 24px;
  }
  .project-img .overlay h3 {
    padding-top: 36%;
  }
  :is(.owl-gal, #sync1) .owl-nav button.owl-next,
  :is(.owl-gal, #sync1) .owl-nav button.owl-prev {
    padding: 12px !important;
  }
  :is(.owl-gal, #sync1) .owl-nav button i {
    font-size: 12px;
  }
  #sync2.owl-theme .owl-nav.disabled + .owl-dots {
    margin: 0;
  }
  .project-title {
    font-size: 18px;
  }
  .construction p,
  .text,
  .last-text {
    letter-spacing: 0.5px;
    line-height: 21px;
  }
  #sync1 .item {
    height: 50vw;
  }
  .main-service {
    h2 {
      font-size: 18px;
    }
    p {
      line-height: 20px;
      letter-spacing: 0.5px;
      em {
        margin-bottom: 12px;
      }
    }
  }
  .service-text {
    padding: 24px;
    font-size: 13px;
    margin: 16px 0;
  }
  .text {
    margin-bottom: 16px;
  }
  .widget {
    margin-bottom: 20px;
    .download-brochure h4 {
      font-size: 13px !important;
    }
  }
  .services-list li a {
    padding: 10px;
    line-height: 20px;
  }
  .read-more {
    font-size: 12px;
    line-height: 12px;
  }
  .sent-now {
    width: 120px;
    font-size: 12px;
  }
  .slider-text .more-detail {
    width: 110px;
    height: 35px;
  }
  .more-detail {
    line-height: 32px;
  }
  .social-list {
    justify-content: center;
    a {
      margin: 0 8px;
    }
  }
  .footer-equal-parts {
    width: 100%;
  }
  #navMenu > span {
    width: 16px;
  }
}
